@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url('image/background-transparent.jpg');
    /* background-color: gray; */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    user-select: none;
}

header {
    width: 100%;
    background-color: #ffffff7e;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
}


nav {
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-nav {
    padding-left: 2px;
    display: flex;
    align-items: center;
}

.titulo-nav > h2 {
    color: #000000;
}

.menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home, .sobre1, .projetos, .contato {
    color: black;
    text-decoration: none;
    padding-left:  12px;
    padding-right:  12px;
}

.menu-nav > a:hover {
    background-color: #0000001a;
    border-radius: 22px;
    transition: 1.0s ease;
}

h1 {
    color: #FFF1D0;
    font-size: 50px;
    margin-top: 100px;
    padding-left: 60px;
    padding-bottom: 10px;
}

h2 {
    color: #FFF1D0;
    font-size: 20px;
    padding-left: 20px;
}

.box1 > span {
    height: 2px;
    width: 85%;
    margin-left: 60px;
    background-color: #FFF1D0;
    display: block;
    margin-top: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box1 {
    text-align: center;
    margin-left: 5%;
}

.foco-subtitulo {
    text-shadow: 0px 0px 10px #FFF1D0;
}


.button-main {
    margin-left: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img-main {
    margin-left: 20%;
    margin-top: 100px;
}

.img-main > img {
    width: 80%;
}

.botao {
    text-decoration: none;
    font-size: 16px;
    color: #FFF1D0;
    border-radius: 8px;
    border: 2px solid #FFF1D0; 
    padding: 12px 30px;
    display: flex;
    align-items: center;
}

.github-icon, .linkedin-icon {
    margin-right: 6px;
}

.button-main > a {
    margin: 5px;
}

.button-main > a > img,
.botao-sobre > a > img {
    width: 20px; 
    height:20px;
    align-items: center;
}

.botao:hover,
.botao-sobre > a:hover {
    background-color: #ffffff57;
    color: #000000;
    transition: 1.0s ease;
    font-weight: bold;
}


.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
}

.img-perfil > img {
    width: 250px; 
    height:250px;
    border-radius: 50%; 
    border: 5px solid #FFF1D0; 
}

.sobre-secao {
    padding: 8%;
    margin-left: 8%;
    margin-right: 80px;
    color: #FFF1D0;
}

.sobre-secao > h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(70, 67, 67, 0.877);
}

.sobre-secao > p {
    color: #000000;
    text-align: justify;
}

.botao-sobre {
    margin-top: 30px;
    text-align: center;
}

.botao-sobre > a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    border-radius: 8px;
    border: 2px solid #000000; 
    padding: 12px 30px;
}

ul > li {
    list-style: none;
}

.soft-skills {
    display: flex;
    justify-content: center;
}

.front-end {
    padding-bottom: 10px;
    background-color: #ffffff7e;
    padding: 4%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 5px;
    padding-top: 10px;
}

.back-end {
    padding-bottom: 10px;
    background-color: #ffffff7e;
    padding: 4%;
    margin-right: 5px;
    padding-top: 10px;
}

.framework {
    padding-bottom: 10px;
    background-color: #ffffff7e;
    padding: 4%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 10px;
}

.front-end > span,
.back-end > span,
.framework > span {
    height: 10px;
    width: 180px;
    background-color: #FFF1D0;
    display: block;
    margin-top: 10px;
    border-radius: 15px;
}

.descricao-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.titulos-card {
    text-align: center;
    line-height: 3.0;
}

.front-end:hover,
.back-end:hover, 
.framework:hover {
    background-color: #FFF1D0;
    color: #000000;
    transition: 0.5s ease;
    font-weight: bold;
}

.front-end:hover > span,
.back-end:hover > span,
.framework:hover > span {
    background-color: #000000;
    transition: 3.0s ease;
}

.icon-front, .icon-framework {
    opacity: 0.5;
}

.front-end:hover .icon-front {
    opacity: 1;
    transition: all 2s ease;
}

.framework:hover .icon-framework {
    opacity: 1;
    transition: all 2s ease;
}

#projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.titulo-projetos {
    font-size: 46px;
    font-weight: 400;
    color: rgba(70, 67, 67, 0.747);
    padding-left: 0px;
}

.projeto {
    background-color:  #ffffff56;
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
    padding: 20px;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
}

.titulo-projeto {
    font-size: 20px;
    font-weight: 600;
}

.button-projeto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 18px;
    width: 50%;
}

button:hover {
    background-color: #000000ad;
    transition: all 1s ease;
    color: white;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

button:hover a {
    color: white;
    transition: all 1s ease;
 }


#contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo-contato {
    font-size: 46px;
    font-weight: 400;
    color: rgba(70, 67, 67, 0.747);
    padding-left: 0px;
}

.formulario {
    margin-top: 18px;
    background-color:  #ffffff56;
    width: 30%;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infos {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

input {
    margin-top: 8px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 18px;
    width: 95%;
}

textarea {
    margin-top: 8px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    padding: 10px;
    width: 95%;
    border-radius: 18px;
    resize: none;
    height: 60px
}


.button-submit {
    width: 40%;
    cursor: pointer;
    background-color: rgba(155, 155, 155, 0.733);
    font-size: 16px;
    font-weight: 500;
}

.button-submit:hover {
    background-color: #000000ad;
    transition: all 1s ease;
    color: white;
}

footer {
    background-color: rgba(41, 36, 36, 0.623);
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    padding: 4px;
}










