@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url('image/background-transparent.jpg');
    /* background-color: gray; */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    user-select: none;
}

header {
    width: 100%;
    background-color: #ffffff7e;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
}


nav {
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
}

.titulo-nav {
    padding-left: 2px;
    display: flex;
    align-items: center;
}

.titulo-nav > h2 {
    color: #000000;
}

.menu-nav {
    padding-left: 59%;
    display: flex;
    align-items: center;
}

a {
    color: black;
    padding-left: 30px;
    text-decoration: none;
}

.menu-nav > a:hover {
    background-color: #00000041;
    border-radius: 50px;
    transition: 1.0s ease;
}

h1 {
    color: #FFF1D0;
    font-size: 50px;
    margin-top: 100px;
    padding-left: 60px;
    padding-bottom: 10px;
}

h2 {
    color: #FFF1D0;
    font-size: 20px;
    padding-left: 20px;
}

.box1 > span {
    height: 2px;
    width: 85%;
    margin-left: 60px;
    background-color: #FFF1D0;
    display: block;
    margin-top: 10px;
}

.box {
    display: flex;
}

.box1 {
    text-align: center;
    margin-left: 5%;
}

.foco-subtitulo {
    text-shadow: 0px 0px 10px #FFF1D0;
}


.button-main {
    margin-top: 20px;
    margin-left: 55px;
}

.img-main {
    margin-left: 20%;
    margin-top: 100px;
}

.img-main > img {
    width: 80%;
}

.botao {
    text-decoration: none;
    font-size: 16px;
    color: #FFF1D0;
    border-radius: 8px;
    border: 2px solid #FFF1D0; 
    padding: 12px 30px;
}

.button-main > a {
    margin: 5px;
}

.button-main > a > img,
.botao-sobre > a > img {
    width: 20px; 
    height:20px;
    align-items: center;
}

.botao:hover,
.botao-sobre > a:hover {
    background-color: #ffffff57;
    color: #000000;
    transition: 1.0s ease;
    font-weight: bold;
}

.sobre {
    display: flex;
    margin-top: 40px;
}

.img-perfil {
    padding-left: 10%;
    margin-top: 12%;
}

.img-perfil > img {
    width: 250px; 
    height:250px;
    border-radius: 50%; 
    border: 5px solid #FFF1D0; 
}

.sobre-secao {
    padding: 8%;
    margin-left: 8%;
    margin-right: 80px;
    color: #FFF1D0;
}

.sobre-secao > h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.sobre-secao > p {
    color: #000000;
}

.botao-sobre {
    margin-top: 30px;
    text-align: center;
}

.botao-sobre > a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    border-radius: 8px;
    border: 2px solid #000000; 
    padding: 12px 30px;
}

ul > li {
    list-style: none;
}

.soft-skills {
    display: flex;
    justify-content: center;
}

.front-end {
    padding-bottom: 10px;
    background-color: #ffffff7e;
    padding: 4%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 5px;
    padding-top: 10px;
}

.back-end {
    padding-bottom: 10px;
    background-color: #ffffff7e;
    padding: 4%;
    margin-right: 5px;
    padding-top: 10px;
}

.framework {
    padding-bottom: 10px;
    background-color: #ffffff7e;
    padding: 4%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 10px;
}

.front-end > span,
.back-end > span,
.framework > span {
    height: 10px;
    width: 180px;
    background-color: #FFF1D0;
    display: block;
    margin-top: 10px;
    border-radius: 15px;
}

.descricao-card {
    margin-left: 30%;
}

.descricao-card3 {
    margin-left: 20%;
}

.descricao-card3 > img {
    margin-left: 18%;
}

.descricao-card > img {
    margin-left: 10%;
}

.titulos-card {
    text-align: center;
    line-height: 3.0;
}

.front-end:hover,
.back-end:hover, 
.framework:hover {
    background-color: #FFF1D0;
    color: #000000;
    transition: 0.5s ease;
    font-weight: bold;
}

.front-end:hover > span,
.back-end:hover > span,
.framework:hover > span {
    background-color: #000000;
    transition: 3.0s ease;
}

































